# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# Extraneous project related files
*.zip
archive/*
data/*
.Rproj.user
*.Rproj
.RData
*.swp
*.csv
